body {
    background-color: #8B8B8B;
}
.content {
    top: 3.5em;
    bottom:0;
}
.dump {
    height: 100%;
    width: auto;
    display: block;
    margin-left: 13em;
    background-color: #EAF1FF;
}
